.row {
  background-color: #0E0A2A;
}
.col-sm-4 {
  padding: 25px;
}
.card-title {
  text-align: center;
}
.card-text {
  text-align: center;
}
.btn-primary a{
  color: white;
}
a {
  padding: 10px;
  text-align: center;
}